{% if request.user.is_authenticated %}
<h3>
    Hello {{request.user}}
</h3>

<br/>
<button>
    <a href="{% url 'fintech:logout' %}">Logout</a>
</button>

{% else %}
<button>
    <a href="{% url 'fintech:login' %}">Login</a>
</button>
<br/>
<button>
    <a href="{% url 'fintech:register' %}">Register</a>
</button>

{% endif %}

{% for board in boards %}
    <h1>{{ board.board_name }}</h1>
    {% for topic in topics %}
        {% if topic.FK_board_discussiontopic == board %}
            <a href="/topic/{{topic.id}}/"><h4>{{ topic.topic_name }}</h4></a>
        {% endif %}
    {% endfor %}
{% endfor %}