<h1>Login</h1>

<form method="post" action="{% url 'fintech:login' %}">
  {% csrf_token %}
  <label for="username">Username:</label>
  <br/>
  <input type="text" name="username">
  <br/>
  <label for="password">Password:</label>
  <br/>
  <input type="password" name="password">
  <br/>
  <input type="submit" name="login">

  {{ form.errors}}

  {% for message in messages %}
    <p>{{message}}</p>
  {% endfor %}

  <p>
    Don't have an account?
    <a href="{% url 'fintech:register' %}">Sign up</a>
  </p>
</form>