<h1> 
    {{post.title}}
</h1>

<p>
    {{post.creation_date}}
</p>

<p>
    {{post.FK_user_post.username}}
</p>

<p>
    {{post.content_text}}
</p>
{% for file in files %}
<a href="media/{{ file.content }}">
    <p>{{ file.content }}</p>
</a>

{% endfor %}

<form method="POST" action="/topic/{{topic_id}}/{{post_id}}/postcomment/">
    {% csrf_token %}
    <label for="create_comment">Post a Comment</label>
    <br/>
    <textarea name="create_comment" cols="50" rows="4" maxlength="255" required></textarea>
    <br/>
    <input type="submit">
</form>

<h2>
    Comments
</h2>
{% for comment in comments %}
<p>
    <b>{{comment.FK_user_comment}}</b>
    <br/>
    {{comment.content_text}}
</p>
{% endfor %}

