{% load static %}

<!DOCTYPE html>
<html lang="en" style="background-color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asset Management</title>
    <link rel="stylesheet" href="{% static 'assetman/style.css' %}">
    <!--<link rel="icon" type="image/ico" href="{% static 'fintech/mainico.ico' %}">-->
  </head>
  <body style="margin:0px">
    <header>
        <div>
            <ul class="navbar">
                <li><a href="">Assets</a></li>
                <li><a href="/assets/addasset/">Add Trade</a></li>
                <li><a href="/assets/findtrades/">Find Trade</a></li>
                {% if request.user.is_authenticated %}
                <li style="float:right">
                    <a href="{% url 'fintech:logout' %}">Logout</a>
                </li>
                <li style="float:right">
                    <a href="/assets/account/">Account Settings</a>
                </li>
                {% else %}
                <li style="float:right">
                    <a href="{% url 'fintech:login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </header>
        <div class="topic" style="padding:6px 20px 20px 20px; width:80%;">
            <h1 class="header">Currently Held Assets</h1>
            {% if stocks %}
            <table>
                <tr>
                    <th>Stock</th>
                    <th>Ticker</th>
                    <th>Quantity</th>
                    <th>Cost Basis/Share</th>
                </tr>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.Stock.FK_asset_stock.assetName }}</td>
                        <td>{{ stock.Stock.ticker }}</td>
                        <td>{{ stock.Trade.assetQuantity }}</td>
                        <td>${{ stock.Trade.pricePerAsset }}</td>
                        <td><a href="editasset/{{ stock.Trade.id }}">edit</a></td>
                        <td><a href="delete/{{ stock.Trade.id }}/">delete lot</a></td>
                        <td><a href="sell/{{ stock.Trade.id }}">sell</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            {% if properties %}
            </br>
            <table>
                <tr>
                    <th>Property</th>
                    <th>Cost</th>
                    <th>Fee</th>
                    <th>Address</th>
                    <th>Agent</th>
                </tr>
                {% for property in properties %}
                    <tr>
                        <td>{{ property.Property.FK_asset_property.assetName }}</td>
                        <td>${{ property.Trade.pricePerAsset }}</td>
                        <td>${{ property.Property.totalfee }}</td>
                        <td>{{ property.Property.FK_address_property.street }} {{ property.Property.FK_address_property.city }}</td>
                        <td>{{ property.Trade.FK_agent_trade.name }}</td>
                        <td><a href="editasset/{{ property.Trade.id }}">edit</a></td>
                        <td><a href="delete/{{ property.Trade.id }}/">delete lot</a></td>
                        <td><a href="sell/{{ property.Trade.id }}">sell</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            {% if bonds %}
            </br>
            <table>
                <tr>
                    <th>Issuer</th>
                    <th>Interest Rate</th>
                    <th>Face Value</th>
                    <th>Maturity Date</th>
                    <th>Purchase Price</th>
                    <th>Quantity</th>
                    <th>Rating</th>
                </tr>
                {% for bond in bonds %}
                    <tr>
                        <td>{{ bond.Bond.issuer }}</td>
                        <td>{{ bond.Bond.interestRate }}%</td>
                        <td>${{ bond.Bond.faceValue }}</td>
                        <td>{{ bond.Bond.maturityDate }}</td>
                        <td>${{ bond.Trade.pricePerAsset }}</td>
                        <td>{{ bond.Trade.assetQuantity }}</td>
                        <td>{{ bond.Bond.rating }}</td>
                        <td><a href="editasset/{{ bond.Trade.id }}">edit</a></td>
                        <td><a href="delete/{{ bond.Trade.id }}/">delete lot</a></td>
                        <td><a href="sell/{{ bond.Trade.id }}">sell</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            {% if misc %}
            </br>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Purchase Price</th>
                    <th>Quantity</th>
                </tr>
                {% for m in misc %}
                    <tr>
                        <td>{{ m.Misc.FK_asset_misc.assetName }}</td>
                        <td>{{ m.Misc.description }}</td>
                        <td>${{ m.Trade.pricePerAsset }}</td>
                        <td>{{ m.Trade.assetQuantity }}</td>
                        <td><a href="editasset/{{ m.Trade.id }}">edit</a></td>
                        <td><a href="delete/{{ m.Trade.id }}/">delete lot</a></td>
                        <td><a href="sell/{{ m.Trade.id }}">sell</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            <div style="text-align:center; padding:15px 0px">
                <h2 class="topicheader">Queries</h2>
                </br>
            </div>
                <h3 class="topicheader"><a href="/assets/agentassets/"  style="color:crimson">1. Find assets managed by an agent</a></h3>
                </br>
                <h3 class="topicheader"><a href="/assets/mortgagerates/"  style="color:crimson">2. Discover mortgage rates</a></h3>
                </br>
                <h3 class="topicheader"><a href="/assets/gain/"  style="color:crimson">3. Find gain over a period of time</a></h3>
                </br>
                <h3 class="topicheader"><a href="/assets/stock/"  style="color:crimson">4. Get stock information for a day</a></h3>
            </br>
            <h3 class="topicheader"><a href="/assets/expense/"  style="color:crimson">5. Expenses</a></h3>
        </div>
    </body>
</html>