{% load static %}

<!DOCTYPE html>
<html lang="en" style="background-color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asset Management</title>
    <link rel="stylesheet" href="{% static 'assetman/style.css' %}">
    <!--<link rel="icon" type="image/ico" href="{% static 'fintech/mainico.ico' %}">-->
  </head>
  <body style="margin:0px">
    <header>
        <div>
            <ul class="navbar">
                <li><a href="/assets/">Assets</a></li>
                {% if request.user.is_authenticated %}
                <li style="float:right">
                    <a href="{% url 'fintech:logout' %}">Logout</a>
                </li>
                <li style="float:right">
                    <a href="/assets/account/">Account Settings</a>
                </li>
                {% else %}
                <li style="float:right">
                    <a href="{% url 'fintech:login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </header>

    <div class="topic" style="padding:20px">
        <h1 class="header">30 Year Fixed-Rate Mortgages</h1>
        {% for rate in rates %}
            <h2 class="topicheader">{{ forloop.counter }}. {{ rate.bankName }} {{ rate.interestRate }}%</h1>
            </br>
        {% endfor %}
    </div>

    </body>
</html>