{% load static %}

<!DOCTYPE html>
<html lang="en" style="background-color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asset Management</title>
    <link rel="stylesheet" href="{% static 'assetman/style.css' %}">
    <!--<link rel="icon" type="image/ico" href="{% static 'fintech/mainico.ico' %}">-->
  </head>
  <body style="margin:0px">
    <header>
        <div>
            <ul class="navbar">
                <li><a href="/assets/">Assets</a></li>
                {% if request.user.is_authenticated %}
                <li style="float:right">
                    <a href="{% url 'fintech:logout' %}">Logout</a>
                </li>
                <li style="float:right">
                    <a href="/assets/account/">Account Settings</a>
                </li>
                {% else %}
                <li style="float:right">
                    <a href="{% url 'fintech:login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </header>
    <div class="topic">
        {% if snapShot %}
            <h1 class="header">Stock details for {{ stock.ticker }} on {{ date }}</h1>
            <table>
                <tr>
                    <th>Open Price</th>
                    <th>Close Price</th>
                    <th>High Price</th>
                    <th>Volume</th>
                </tr>
                <tr>
                    <td>${{ snapShot.openPrice }}</td>
                    <td>${{ snapShot.closePrice }}</td>
                    <td>${{ snapShot.dayHigh }}</td>
                    <td>{{ snapShot.volume }}</td>
                </tr>
            </table>
        {% else %}
            <h1 class="header" style="padding:20px">No data found for that stock on {{ date }}</h1>
        {% endif %}
    </div>

</body>
</html>