{% load static %}

<!DOCTYPE html>
<html lang="en" style="background-color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asset Management</title>
    <link rel="stylesheet" href="{% static 'assetman/style.css' %}">
    <!--<link rel="icon" type="image/ico" href="{% static 'fintech/mainico.ico' %}">-->
  </head>
  <body style="margin:0px">
    <header>
        <div>
            <ul class="navbar">
                <li><a href="/assets/">Assets</a></li>
                {% if request.user.is_authenticated %}
                <li style="float:right">
                    <a href="{% url 'fintech:logout' %}">Logout</a>
                </li>
                <li style="float:right">
                    <a href="/assets/account/">Account Settings</a>
                </li>
                {% else %}
                <li style="float:right">
                    <a href="{% url 'fintech:login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </header>
    <div class="topic" style="padding: 20px 200px">
        <form method="post" action="">
            {% csrf_token %}
            <label class="textinput-label" for="ticker">Stock Ticker</label>
            <input class="textinput" type="text" name="ticker">

            <label class="textinput-label" for="date_begin">Begin Date</label>
            <input class="textinput" type="date" name="date_begin">

            <label class="textinput-label" for="date_end">End Date</label>
            <input class="textinput" type="date" name="date_end">

            <label class="textinput-label" for="open">Open Price</label>
            <input class="textinput" type="number" name="open" step="0.01">

            <label class="textinput-label" for="high">High Price</label>
            <input class="textinput" type="number" name="high" step="0.01">

            <label class="textinput-label" for="low">Low Price</label>
            <input class="textinput" type="number" name="low" step="0.01">

            <div style="text-align:center; padding-bottom:15px; padding-top:15px">
                <button class="form-button" type="submit" name="submit_post">Submit</button>
            </div>
        </form>
        {% if image %}
            <div style="text-align:center">
                <img src="{{ image }}">
            </div>
        {% endif %}
        {% if open %}
        <h1 class="header">Predicted Close Price</h1>
        <h1 class="header">Using Historical Price in Date Range</h1>
        <table>
            <tr>
                <th>Open Price</th>
                <th>Low Price</th>
                <th>High Price</th>
                <th>Predicted Close</th>
            </tr>
            <tr>
                <td>${{ open|floatformat:2 }}</td>
                <td>${{ low|floatformat:2 }}</td>
                <td>${{ high|floatformat:2 }}</td>
                <td>${{ close|floatformat:2 }}</td>
            </tr>
        </table>
        {% endif %}
    </div>

</body>
</html>