{% load static %}

<!DOCTYPE html>
<html lang="en" style="background-color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forum Board</title>
    <link rel="stylesheet" href="{% static 'fintech/style.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'fintech/mainico.ico' %}">
  </head>
  <body style="margin:0px">
    <header>
        <div>
            <ul class="navbar">
                <li><a href="{% url 'fintech:index' %}">Forum</a></li>
                <li><a href="{% url 'fintech:index' %}">Topics</a></li>
                <li class="activenavbar" style="float:right"><a href="">Add Post</a></li>
                {% if request.user.is_authenticated %}
                <li style="float:right">
                    <a href="{% url 'fintech:logout' %}">Logout</a>
                </li>
                {% else %}
                <li style="float:right" class="activenavbar">
                    <a href="{% url 'fintech:login' %}">Login</a>
                </li>
                {% endif %}
                <!-- add href to settings page when it is done -->
                <li style="float:right"><a href="">Settings</a></li>
            </ul>
        </div>
    </header>
    <div class="topic">
        <h1 class="header">Create post for </br>{{topic.topic_name}}</h1>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
        
            <label class="textinput-label" style="margin-left:5%" for="post_title">Title</label>
            <input class="textinput" style="margin-bottom:16px" type="text" name="post_title">
            </br>
            <label class="textinput-label" style="margin-left:5%;" for="post_content">Summary</label>
            </br>
            <div style="text-align:center">
                <textarea class="textarea" rows="8" type="text" name="post_content"></textarea>
            </div>
            </br>
            
            <div style="padding-top:15px; padding-left:6%">
                <input class="custom-file-input" style="" name="content" type="file" multiple>
            </div>
        
            <div style="text-align:center; padding-bottom:15px; padding-top:15px">
                <input class="form-button" type="submit" name="submit_post">
            </div>
        
        </form>
    </div>

</body>
</html>