{% load static %}

<!DOCTYPE html>
<html lang="en" style="background-color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forum Board</title>
    <link rel="stylesheet" href="{% static 'fintech/style.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'fintech/mainico.ico' %}">
  </head>
  <body style="margin:0px">
    <header>
        <div>
            <ul class="navbar">
                <li><a href="{% url 'fintech:index' %}">Forum</a></li>
                <li><a href="{% url 'fintech:index' %}">Topics</a></li>
                <li style="float:right"><a href="/topic/{{topic_id}}/createpost/">Add Post</a></li>
                {% if request.user.is_authenticated %}
                <li style="float:right">
                    <a href="{% url 'fintech:logout' %}">Logout</a>
                </li>
                {% else %}
                <li style="float:right" class="activenavbar">
                    <a href="{% url 'fintech:login' %}">Login</a>
                </li>
                {% endif %}
                <!-- add href to settings page when it is done -->
                <li style="float:right">
                    <a onClick="hideNotifs('notif')" style="float:right; cursor:pointer; padding: 12px; position: relative; top:4px">
                        <img src="{% static 'fintech/bell.png' %}" width="25" height="25">
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="notification" id="notif" style="display:none">
        <span class="notificationspan">{{notification}}</span>
        <span onClick="hideNotifs('notif')" class="close">X</span>
    </div>

    <script>
        function hideNotifs(id) {
            var a = document.getElementById(id);
            if (a.style.display == "none") {
                a.style.display = "block";     
            }
            else {
                a.style.display = "none";
            }
        }
    </script>


    <div class="topic">
        <h1 class="header" style="display:inline; margin-top: 10px; margin-left:28px; font-size:36px">
            {{ post.title }}
        </h1>
        <span style="float:right; margin-top: 10px; margin-right:10px">
            <img src="{% static 'fintech/view.png' %}" alt="Views" width="30" height="30" style="display:inline-block; margin-left:0%;">
            <p class="post" style="font-size:16px; display:inline-block; position: relative; top:-8px">{{ post.views }}</p>
        </span>
        <h2 class="post" style="margin-left:28px; padding-bottom:10px; font-size:20px">
            By {{ post.FK_user_post.username }}
        </h2>
        <p class="post" style="display:block; margin-left:28px; font-size:16px;">
            {{ post.creation_date }}
        </p>
        <p class="post" style="margin-left:28px; padding-bottom:50px; font-size:20px">
            {{ post.content_text}}
        </p>
        {% if files %}
        <p class="post" style="margin-left:28px; padding-bottom:8px; font-size:16px">
            Attached files:
        </p>
        {% endif %}
        {% for file in files %}
        <a href="media/{{ file.content }}" style="color:white; text-shadow:2px 2px 8px #111; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
            <h3 style="text-decoration:underline;margin-left:28px; padding-bottom:10px; font-size:14px; display:inline-block">{{ file.content }}</h3>
        </a>
        {% endfor %}
        {% if request.user == post.FK_user_post or request.user.is_superuser %}
        <div style="text-align:center; padding-bottom:10px">
            <a href="editpost/"><button class="form-button" type="button">Edit Post</button></a>
        </div>
        {% endif %}
        <div style="text-align:center; padding-bottom:10px">
            <button class="form-button" onClick="hideNotifs('drop')" type="button" style="border-bottom:0px; cursor:pointer">Links
                <p style="float:right; position: relative; top:-24px; font-size:20px"><b>↓</b></p>
            </button>
            <a href="https://calendar.google.com/calendar/" style="text-decoration:none;" target="_blank" rel="noopener noreferrer">
                <div id="drop" style="display:none; background-color: white; margin-left:41%; margin-right:41%; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
                    <p style="text-shadow: 2px 2px 8px #111;
                    color:#111;
                    font-size:16px;
                    margin:0px;
                    padding:4px;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                        Google Calendar
                    </p>
                </div>
            </a>
        </div>

    </div>

    <div class="topic">
        <form method="POST" action="/topic/{{topic_id}}/{{post_id}}/postcomment/">
            {% csrf_token %}
            <div style="text-align:center; padding-top:10px">
                <label class="textinput-label" style="font-size:22px" for="create_comment">Post a Comment</label>
            </div>
            <br/>
            <div style="text-align:center;">
                <textarea class="textarea" name="create_comment" rows="8" maxlength="255" required></textarea>
            </div>
            <br/>
            <div style="text-align:center;">
                <a><button class="form-button" type="submit">Submit</button></a>
            </div>
        </form>
        <h4 class="post" style="font-size:24px; margin-left:18px;">
            Comments
        </h4>
        {% for comment in comments %}
        <p class="post" style="font-size:20px; margin-left:18px;padding-bottom:10px">
            {{comment.FK_user_comment}}: {{comment.content_text}}
        </p>
        {% endfor %}
        {% if not comments %}
        <p class="post" style="font-size:20px; margin-left:18px;padding-bottom:10px">
            There are no comments...
        </p>
        {% endif %}
    </div>

</body>
</html>