{% load static %}

<!DOCTYPE html>
<html lang="en" style="background-color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forum Board</title>
    <link rel="stylesheet" href="{% static 'fintech/style.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'fintech/mainico.ico' %}">
  </head>
  <body style="margin:0px">
    <header>
        <div>
            <ul class="navbar">
                <li><a href="{% url 'fintech:index' %}">Forum</a></li>
                <li><a href="{% url 'fintech:index' %}">Topics</a></li>
                <li style="float:right"><a href="createpost/">Add Post</a></li>
                {% if request.user.is_authenticated %}
                <li style="float:right">
                    <a href="{% url 'fintech:logout' %}">Logout</a>
                </li>
                {% else %}
                <li style="float:right" class="activenavbar">
                    <a href="{% url 'fintech:login' %}">Login</a>
                </li>
                {% endif %}
                <!-- add href to settings page when it is done -->
                <li style="float:right"><a href="">Settings</a></li>
            </ul>
        </div>
    </header>
    <div class="topic">
        <h1 class="header">{{ topic.topic_name }}</h1>
        <span style="padding:15px;">
            <h1 style="display:inline;" class="header">
                {{ posts|length }}{% if posts|length == 1 %} Post {% else %} Posts {% endif %}
            </h1>
            <span style="float:right;">
                <h4 class="topicheader" style="margin:15px;">
                    Started by {{ topic.FK_user_discussiontopic }}
                </h4>
            </span>
        </span>
        {% for post in posts %}
            <a href="{{post.id}}/" style="text-decoration: none;"><h3 class="post" style="padding:0px 0px 0px 15px;">
                {{ post.title }}
            </h3></a>
            <p class="post" style="padding:0px 0px 15px 15px">
                {{ post.content_text }}
            </p>
        {% endfor %}
    </div>

</body>
</html>